@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100, 0.5); /* ou transparent se quiser invisível */
    border-radius: 10px;
    border: 2px solid transparent;
  }